@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@layer utilities {
    .clip-polygon {
        -webkit-clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
        clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0 100%);
    }
    .w-64p {
        width: 64%;
    }
    .w-56p {
        width: 56%;
    }
    .w-54p {
        width: 54%;
    }
    .post-shadow {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    }
    .hover-shadow {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
        transition: all 0.2s ease;
    }
}
